body {
    margin: 0;
    background: #05060a;
    font-family: Poppins, sans-serif;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.login-container {
    width: 400px;
    margin: 100px auto;
    padding: 25px;
    background: rgba(30, 30, 35, 0.7);
    border-radius: 15px;
    backdrop-filter: blur(8px);
    box-shadow: 0 0 15px rgba(0, 255, 100, 0.3);
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab {
    background: none;
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: 18px;
    color: #aaa;
    cursor: pointer;
    transition: 0.3s ease;
}

.tab.active {
    color: #00ffbb;
    font-weight: bold;
    border-bottom: 2px solid #00ffbb;
}

.form {
    display: none;
}

.form.active {
    display: block;
}

.form h2 {
    text-align: center;
    color: #00ffbb;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 8px;
    border: none;
}

.btn {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background: linear-gradient(90deg, #7f00ff, #00d4ff);
    color: white;
    cursor: pointer;
    font-size: 16px;
}
